In [3]:
!pip install pandas
!pip install numpy
!pip install zipfile
!pip install requests
!pip install io

Collecting pandas
  Using cached pandas-1.2.3-cp38-cp38-manylinux1_x86_64.whl (9.7 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in /home/gilberto/.local/share/virtualenvs/bootcampIGTI_engenheiro_dados-vXZnKic4/lib/python3.8/site-packages (from pandas) (2.8.1)
Collecting numpy>=1.16.5
  Using cached numpy-1.20.1-cp38-cp38-manylinux2010_x86_64.whl (15.4 MB)
Requirement already satisfied: pytz>=2017.3 in /home/gilberto/.local/share/virtualenvs/bootcampIGTI_engenheiro_dados-vXZnKic4/lib/python3.8/site-packages (from pandas) (2021.1)
Requirement already satisfied: six>=1.5 in /home/gilberto/.local/share/virtualenvs/bootcampIGTI_engenheiro_dados-vXZnKic4/lib/python3.8/site-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Installing collected packages: numpy, pandas
Successfully installed numpy-1.20.1 pandas-1.2.3
Requirement already satisfied: numpy in /home/gilberto/.local/share/virtualenvs/bootcampIGTI_engenheiro_dados-vXZnKic4/lib/python3.8/site-packages (1.20.1)
ERROR: Could not find a version that satisfies the requirement zipfile (from versions: none)
ERROR: No matching distribution found for zipfile
Requirement already satisfied: requests in /home/gilberto/.local/share/virtualenvs/bootcampIGTI_engenheiro_dados-vXZnKic4/lib/python3.8/site-packages (2.25.1)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/gilberto/.local/share/virtualenvs/bootcampIGTI_engenheiro_dados-vXZnKic4/lib/python3.8/site-packages (from requests) (4.0.0)
Requirement already satisfied: idna<3,>=2.5 in /home/gilberto/.local/share/virtualenvs/bootcampIGTI_engenheiro_dados-vXZnKic4/lib/python3.8/site-packages (from requests) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /home/gilberto/.local/share/virtualenvs/bootcampIGTI_engenheiro_dados-vXZnKic4/lib/python3.8/site-packages (from requests) (2020.12.5)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/gilberto/.local/share/virtualenvs/bootcampIGTI_engenheiro_dados-vXZnKic4/lib/python3.8/site-packages (from requests) (1.26.3)
ERROR: Could not find a version that satisfies the requirement io (from versions: none)
ERROR: No matching distribution found for io

In [6]:
import pandas as pd
import numpy as np
import zipfile
import requests
from io import BytesIO
import os

In [7]:
os.makedirs("./enem2019",exist_ok=True)

In [6]:
url ="https://download.inep.gov.br/microdados/microdados_enem_2019.zip"

# filebytes = BytesIO(
#     requests.get(url).content
# )

# myzip = zipfile.ZipFile(filebytes)
# myzip.extractall('./enem2019') # no diretorio

In [8]:
# leitura dos dados
enem = pd.read_csv(
    './enem2019/DADOS/MICRODADOS_ENEM_2019.csv',
    sep = ';',
    decimal = ',',
    encoding= 'ISO-8859-1'
)

In [9]:
enem

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,A,A,A,C,B,A,D,A,B,A
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,A,A,A,B,B,A,B,A,A,A
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,B,A,A,D,B,B,D,A,C,B
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,A,A,A,C,A,A,D,A,A,A
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,A,A,A,B,A,A,D,A,A,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,190006129589,2019,2928604,Santo Amaro,29,BA,28,F,2,2,...,A,A,A,B,A,A,B,A,A,B
5095266,190006129590,2019,2927408,Salvador,29,BA,25,M,1,2,...,A,A,A,A,A,A,B,A,A,A
5095267,190006129591,2019,2931806,Tremedal,29,BA,18,F,1,3,...,A,A,A,B,A,A,B,A,A,B
5095268,190006129592,2019,2927408,Salvador,29,BA,16,M,1,1,...,B,A,A,B,B,A,C,A,B,B
5095269,190006129593,2019,2914802,Itabuna,29,BA,25,F,1,2,...,B,A,B,B,B,A,B,A,B,B

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,NU_IDADE,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,CO_MUNICIPIO_NASCIMENTO,CO_UF_NASCIMENTO,...,CO_PROVA_MT,TP_LINGUA,TP_STATUS_REDACAO,NU_NOTA_COMP1,NU_NOTA_COMP2,NU_NOTA_COMP3,NU_NOTA_COMP4,NU_NOTA_COMP5,NU_NOTA_REDACAO,Q005
count,5.388960e+05,538896.0,5.388960e+05,538896.0,538896.000000,538896.000000,538896.000000,538896.000000,5.227400e+05,522740.000000,...,393872.000000,538896.000000,414346.000000,414346.000000,414346.000000,414346.000000,414346.000000,414346.000000,414346.000000,538896.000000
mean,1.900035e+11,2019.0,3.134395e+06,31.0,22.024361,1.087078,2.071778,1.031299,3.152104e+06,31.201865,...,516.509800,0.425234,1.105212,124.647758,127.689998,119.292331,126.173922,99.186477,596.990486,3.750833
std,1.505757e+06,0.0,2.248739e+04,0.0,7.458167,0.428067,1.006767,0.210176,2.484819e+05,2.483056,...,1.143082,0.494379,0.678323,32.395614,43.923177,40.975168,38.812983,60.673716,193.028261,1.354242
min,1.900010e+11,2019.0,3.100104e+06,31.0,4.000000,0.000000,0.000000,0.000000,1.100023e+06,11.000000,...,515.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
25%,1.900023e+11,2019.0,3.111200e+06,31.0,18.000000,1.000000,1.000000,1.000000,3.106705e+06,31.000000,...,516.000000,0.000000,1.000000,120.000000,120.000000,100.000000,100.000000,60.000000,500.000000,3.000000
50%,1.900035e+11,2019.0,3.135100e+06,31.0,19.000000,1.000000,2.000000,1.000000,3.134202e+06,31.000000,...,517.000000,0.000000,1.000000,120.000000,120.000000,120.000000,120.000000,100.000000,600.000000,4.000000
75%,1.900050e+11,2019.0,3.152501e+06,31.0,23.000000,1.000000,3.000000,1.000000,3.153400e+06,31.000000,...,518.000000,1.000000,1.000000,140.000000,160.000000,140.000000,140.000000,140.000000,720.000000,4.000000
max,1.900061e+11,2019.0,3.172202e+06,31.0,91.000000,4.000000,5.000000,4.000000,5.300108e+06,53.000000,...,558.000000,1.000000,9.000000,200.000000,200.000000,200.000000,200.000000,200.000000,1000.000000,20.000000

In [31]:
# TP_sexo
enem['TP_SEXO_NOVO'] = enem.TP_SEXO.replace({
    'M' : 'Masculino',
    'F' : 'Feminino'
})

# TP_ESTADO_CIVIL
# 0	Não informado
# 1	Solteiro(a)
# 2	Casado(a)/Mora com companheiro(a)
# 3	Divorciado(a)/Desquitado(a)/Separado(a)
# 4	Viúvo(a)
enem['TP_ESTADO_CIVIL_NOVO'] = enem.TP_ESTADO_CIVIL.replace({
    0 : 'Não informado',
    1 : 'Solteiro(a)',
    2 : 'Casado(a)/Mora com companheiro(a)',
    3 : 'Divorciado(a)/Desquitado(a)/Separado(a)',
    4 : 'Viúvo(a)'
})

# TP_COR_RACA
# 0	Não declarado
# 1	Branca
# 2	Preta
# 3	Parda
# 4	Amarela
# 5	Indígena 
enem['TP_COR_RACA_NOVO'] = enem.TP_COR_RACA.replace({
    0 : 'Não declarado',
    1 : 'Branca',
    2 : 'Preta',
    3 : 'Parda',
    4 : 'Amarela',
    5 : 'Indígena'
})

# TP_ANO_CONCLUIU ensino medio
# 0	Não informado
# 1	2018
# 2	2017
# 3	2016
# 4	2015
# 5	2014
# 6	2013
# 7	2012
# 8	2011
# 9	2010
# 10	2009
# 11	2008
# 12	2007
# 13	Antes de 2007
enem['TP_ANO_CONCLUIU_NOVO'] = enem.TP_ANO_CONCLUIU.replace({
    0 : 'Não informado',
    1 : '2018',
    2 : '2017',
    3 : '2016',
    4 : '2015',
    5 : '2014',
    6 : '2013',
    7 : '2012',
    8 : '2011',
    9 : '2010',
    10 : '2009',
    11 : '2008',
    12 : '2007',
    13 : 'Antes de 2007'
})
# TP_ESCOLA
# 1	Não Respondeu
# 2	Pública
# 3	Privada
# 4	Exterior
enem['TP_ESCOLA_NOVO'] = enem.TP_ESCOLA.replace({
    1 : 'Não Respondeu',
    2 : 'Pública',
    3 : 'Privada',
    4 : 'Exterior'
})
# TP_ENSINO
# 1	Ensino Regular
# 2	Educação Especial - Modalidade Substitutiva
# 3	Educação de Jovens e Adultos

enem['TP_ENSINO_NOVO'] = enem.TP_ENSINO.replace({
    1 : 'Ensino Regular',
    2 : 'Educação Especial - Modalidade Substitutiva',
    3 : 'Educação de Jovens e Adultos'
})

In [35]:
enem

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q022,Q023,Q024,Q025,TP_SEXO_NOVO,TP_ESTADO_CIVIL_NOVO,TP_COR_RACA_NOVO,TP_ANO_CONCLUIU_NOVO,TP_ESCOLA_NOVO,TP_ENSINO_NOVO
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,D,A,B,A,Masculino,Solteiro(a),Parda,2016,Não Respondeu,NaN
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,B,A,A,A,Feminino,Solteiro(a),Parda,Não informado,Não Respondeu,NaN
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,D,A,C,B,Feminino,Solteiro(a),Branca,Não informado,Privada,Ensino Regular
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,D,A,A,A,Masculino,Não informado,Parda,Não informado,Pública,Ensino Regular
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,D,A,A,A,Masculino,Solteiro(a),Parda,2014,Não Respondeu,Ensino Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095265,190006129589,2019,2928604,Santo Amaro,29,BA,28,F,2,2,...,B,A,A,B,Feminino,Casado(a)/Mora com companheiro(a),Preta,2010,Não Respondeu,Ensino Regular
5095266,190006129590,2019,2927408,Salvador,29,BA,25,M,1,2,...,B,A,A,A,Masculino,Solteiro(a),Preta,2015,Não Respondeu,NaN
5095267,190006129591,2019,2931806,Tremedal,29,BA,18,F,1,3,...,B,A,A,B,Feminino,Solteiro(a),Parda,2018,Não Respondeu,Ensino Regular
5095268,190006129592,2019,2927408,Salvador,29,BA,16,M,1,1,...,C,A,B,B,Masculino,Solteiro(a),Branca,Não informado,Não Respondeu,NaN
5095269,190006129593,2019,2914802,Itabuna,29,BA,25,F,1,2,...,B,A,B,B,Feminino,Solteiro(a),Preta,2012,Não Respondeu,Ensino Regular

In [43]:
#Filtrar apenas os alunos do estado de Minas Gerais.

# CO_UF_RESIDENCIA
# SG_UF_RESIDENCIA
# dados = enem.loc[
#     enem.SG_UF_RESIDENCIA == 'MG'
# ].describe()

dados = enem.loc[
    enem.SG_UF_RESIDENCIA == 'MG'
]

In [44]:
dados

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q022,Q023,Q024,Q025,TP_SEXO_NOVO,TP_ESTADO_CIVIL_NOVO,TP_COR_RACA_NOVO,TP_ANO_CONCLUIU_NOVO,TP_ESCOLA_NOVO,TP_ENSINO_NOVO
1044,190001005671,2019,3170206,Uberlândia,31,MG,21,M,1,1,...,D,B,B,B,Masculino,Solteiro(a),Branca,2018,Não Respondeu,NaN
5234,190001009861,2019,3111705,Canaã,31,MG,20,M,1,1,...,C,A,A,A,Masculino,Solteiro(a),Branca,2017,Não Respondeu,NaN
16995,190001021622,2019,3104007,Araxá,31,MG,24,M,1,2,...,C,A,A,B,Masculino,Solteiro(a),Preta,2014,Não Respondeu,Ensino Regular
22008,190001026636,2019,3106200,Belo Horizonte,31,MG,33,M,1,1,...,D,A,D,B,Masculino,Solteiro(a),Branca,Antes de 2007,Não Respondeu,NaN
22114,190001026742,2019,3162401,São João da Ponte,31,MG,23,M,1,3,...,C,A,B,A,Masculino,Solteiro(a),Parda,2013,Não Respondeu,Ensino Regular
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5095256,190006120182,2019,3170107,Uberaba,31,MG,59,F,2,2,...,C,A,B,B,Feminino,Casado(a)/Mora com companheiro(a),Preta,2007,Não Respondeu,NaN
5095257,190006120183,2019,3162708,São João do Paraíso,31,MG,33,F,0,1,...,B,A,B,B,Feminino,Não informado,Branca,Antes de 2007,Não Respondeu,Ensino Regular
5095258,190006120184,2019,3112604,Capinópolis,31,MG,18,F,1,2,...,D,A,B,B,Feminino,Solteiro(a),Preta,Não informado,Pública,Ensino Regular
5095259,190006120185,2019,3154606,Ribeirão das Neves,31,MG,22,F,2,3,...,C,A,A,B,Feminino,Casado(a)/Mora com companheiro(a),Parda,2014,Não Respondeu,Ensino Regular
5095260,190006120186,2019,3106705,Betim,31,MG,37,F,1,3,...,D,A,B,B,Feminino,Solteiro(a),Parda,Antes de 2007,Não Respondeu,Ensino Regular

In [48]:
#exportando csv
dados.to_csv("dados.csv", sep=';', encoding='utf-8')

In [50]:
#armazenando no banco sqlite
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in /home/gilberto/.local/share/virtualenvs/bootcampIGTI_engenheiro_dados-vXZnKic4/lib/python3.8/site-packages (1.3.23)

In [51]:
import sqlalchemy

In [ ]:
engine = sqlalchemy.create_engine(
    "sqlite:///db_trabalho1.db",
    echo=True
)

In [58]:
#armanzenando
dados.to_sql("enem2019",con=engine,index=False,if_exists='append')

2021-03-10 10:42:05,790 INFO sqlalchemy.engine.base.Engine PRAGMA main.table_info("enem2019")
2021-03-10 10:42:05,791 INFO sqlalchemy.engine.base.Engine ()
2021-03-10 10:42:05,791 INFO sqlalchemy.engine.base.Engine PRAGMA temp.table_info("enem2019")
2021-03-10 10:42:05,791 INFO sqlalchemy.engine.base.Engine ()
2021-03-10 10:42:05,796 INFO sqlalchemy.engine.base.Engine
CREATE TABLE enem2019 (
	"NU_INSCRICAO" BIGINT,
	"NU_ANO" BIGINT,
	"CO_MUNICIPIO_RESIDENCIA" BIGINT,
	"NO_MUNICIPIO_RESIDENCIA" TEXT,
	"CO_UF_RESIDENCIA" BIGINT,
	"SG_UF_RESIDENCIA" TEXT,
	"NU_IDADE" BIGINT,
	"TP_SEXO" TEXT,
	"TP_ESTADO_CIVIL" BIGINT,
	"TP_COR_RACA" BIGINT,
	"TP_NACIONALIDADE" BIGINT,
	"CO_MUNICIPIO_NASCIMENTO" FLOAT,
	"NO_MUNICIPIO_NASCIMENTO" TEXT,
	"CO_UF_NASCIMENTO" FLOAT,
	"SG_UF_NASCIMENTO" TEXT,
	"TP_ST_CONCLUSAO" BIGINT,
	"TP_ANO_CONCLUIU" BIGINT,
	"TP_ESCOLA" BIGINT,
	"TP_ENSINO" FLOAT,
	"IN_TREINEIRO" BIGINT,
	"CO_ESCOLA" FLOAT,
	"CO_MUNICIPIO_ESC" FLOAT,
	"NO_MUNICIPIO_ESC" TEXT,
	"CO_UF_ESC" FLOAT,
	"SG_UF_ESC" TEXT,
	"TP_DEPENDENCIA_ADM_ESC" FLOAT,
	"TP_LOCALIZACAO_ESC" FLOAT,
	"TP_SIT_FUNC_ESC" FLOAT,
	"IN_BAIXA_VISAO" BIGINT,
	"IN_CEGUEIRA" BIGINT,
	"IN_SURDEZ" BIGINT,
	"IN_DEFICIENCIA_AUDITIVA" BIGINT,
	"IN_SURDO_CEGUEIRA" BIGINT,
	"IN_DEFICIENCIA_FISICA" BIGINT,
	"IN_DEFICIENCIA_MENTAL" BIGINT,
	"IN_DEFICIT_ATENCAO" BIGINT,
	"IN_DISLEXIA" BIGINT,
	"IN_DISCALCULIA" BIGINT,
	"IN_AUTISMO" BIGINT,
	"IN_VISAO_MONOCULAR" BIGINT,
	"IN_OUTRA_DEF" BIGINT,
	"IN_GESTANTE" BIGINT,
	"IN_LACTANTE" BIGINT,
	"IN_IDOSO" BIGINT,
	"IN_ESTUDA_CLASSE_HOSPITALAR" BIGINT,
	"IN_SEM_RECURSO" BIGINT,
	"IN_BRAILLE" BIGINT,
	"IN_AMPLIADA_24" BIGINT,
	"IN_AMPLIADA_18" BIGINT,
	"IN_LEDOR" BIGINT,
	"IN_ACESSO" BIGINT,
	"IN_TRANSCRICAO" BIGINT,
	"IN_LIBRAS" BIGINT,
	"IN_TEMPO_ADICIONAL" BIGINT,
	"IN_LEITURA_LABIAL" BIGINT,
	"IN_MESA_CADEIRA_RODAS" BIGINT,
	"IN_MESA_CADEIRA_SEPARADA" BIGINT,
	"IN_APOIO_PERNA" BIGINT,
	"IN_GUIA_INTERPRETE" BIGINT,
	"IN_COMPUTADOR" BIGINT,
	"IN_CADEIRA_ESPECIAL" BIGINT,
	"IN_CADEIRA_CANHOTO" BIGINT,
	"IN_CADEIRA_ACOLCHOADA" BIGINT,
	"IN_PROVA_DEITADO" BIGINT,
	"IN_MOBILIARIO_OBESO" BIGINT,
	"IN_LAMINA_OVERLAY" BIGINT,
	"IN_PROTETOR_AURICULAR" BIGINT,
	"IN_MEDIDOR_GLICOSE" BIGINT,
	"IN_MAQUINA_BRAILE" BIGINT,
	"IN_SOROBAN" BIGINT,
	"IN_MARCA_PASSO" BIGINT,
	"IN_SONDA" BIGINT,
	"IN_MEDICAMENTOS" BIGINT,
	"IN_SALA_INDIVIDUAL" BIGINT,
	"IN_SALA_ESPECIAL" BIGINT,
	"IN_SALA_ACOMPANHANTE" BIGINT,
	"IN_MOBILIARIO_ESPECIFICO" BIGINT,
	"IN_MATERIAL_ESPECIFICO" BIGINT,
	"IN_NOME_SOCIAL" BIGINT,
	"CO_MUNICIPIO_PROVA" BIGINT,
	"NO_MUNICIPIO_PROVA" TEXT,
	"CO_UF_PROVA" BIGINT,
	"SG_UF_PROVA" TEXT,
	"TP_PRESENCA_CN" BIGINT,
	"TP_PRESENCA_CH" BIGINT,
	"TP_PRESENCA_LC" BIGINT,
	"TP_PRESENCA_MT" BIGINT,
	"CO_PROVA_CN" FLOAT,
	"CO_PROVA_CH" FLOAT,
	"CO_PROVA_LC" FLOAT,
	"CO_PROVA_MT" FLOAT,
	"NU_NOTA_CN" TEXT,
	"NU_NOTA_CH" TEXT,
	"NU_NOTA_LC" TEXT,
	"NU_NOTA_MT" TEXT,
	"TX_RESPOSTAS_CN" TEXT,
	"TX_RESPOSTAS_CH" TEXT,
	"TX_RESPOSTAS_LC" TEXT,
	"TX_RESPOSTAS_MT" TEXT,
	"TP_LINGUA" BIGINT,
	"TX_GABARITO_CN" TEXT,
	"TX_GABARITO_CH" TEXT,
	"TX_GABARITO_LC" TEXT,
	"TX_GABARITO_MT" TEXT,
	"TP_STATUS_REDACAO" FLOAT,
	"NU_NOTA_COMP1" FLOAT,
	"NU_NOTA_COMP2" FLOAT,
	"NU_NOTA_COMP3" FLOAT,
	"NU_NOTA_COMP4" FLOAT,
	"NU_NOTA_COMP5" FLOAT,
	"NU_NOTA_REDACAO" FLOAT,
	"Q001" TEXT,
	"Q002" TEXT,
	"Q003" TEXT,
	"Q004" TEXT,
	"Q005" BIGINT,
	"Q006" TEXT,
	"Q007" TEXT,
	"Q008" TEXT,
	"Q009" TEXT,
	"Q010" TEXT,
	"Q011" TEXT,
	"Q012" TEXT,
	"Q013" TEXT,
	"Q014" TEXT,
	"Q015" TEXT,
	"Q016" TEXT,
	"Q017" TEXT,
	"Q018" TEXT,
	"Q019" TEXT,
	"Q020" TEXT,
	"Q021" TEXT,
	"Q022" TEXT,
	"Q023" TEXT,
	"Q024" TEXT,
	"Q025" TEXT,
	"TP_SEXO_NOVO" TEXT,
	"TP_ESTADO_CIVIL_NOVO" TEXT,
	"TP_COR_RACA_NOVO" TEXT,
	"TP_ANO_CONCLUIU_NOVO" TEXT,
	"TP_ESCOLA_NOVO" TEXT,
	"TP_ENSINO_NOVO" TEXT
)


2021-03-10 10:42:05,796 INFO sqlalchemy.engine.base.Engine ()
2021-03-10 10:42:05,859 INFO sqlalchemy.engine.base.Engine COMMIT
2021-03-10 10:42:07,407 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)
2021-03-10 10:42:38,216 INFO sqlalchemy.engine.base.Engine INSERT INTO enem2019 ("NU_INSCRICAO", "NU_ANO", "CO_MUNICIPIO_RESIDENCIA", "NO_MUNICIPIO_RESIDENCIA", "CO_UF_RESIDENCIA", "SG_UF_RESIDENCIA", "NU_IDADE", "TP_SEXO", "TP_ESTADO_CIVIL", "TP_COR_RACA", "TP_NACIONALIDADE", "CO_MUNICIPIO_NASCIMENTO", "NO_MUNICIPIO_NASCIMENTO", "CO_UF_NASCIMENTO", "SG_UF_NASCIMENTO", "TP_ST_CONCLUSAO", "TP_ANO_CONCLUIU", "TP_ESCOLA", "TP_ENSINO", "IN_TREINEIRO", "CO_ESCOLA", "CO_MUNICIPIO_ESC", "NO_MUNICIPIO_ESC", "CO_UF_ESC", "SG_UF_ESC", "TP_DEPENDENCIA_ADM_ESC", "TP_LOCALIZACAO_ESC", "TP_SIT_FUNC_ESC", "IN_BAIXA_VISAO", "IN_CEGUEIRA", "IN_SURDEZ", "IN_DEFICIENCIA_AUDITIVA", "IN_SURDO_CEGUEIRA", "IN_DEFICIENCIA_FISICA", "IN_DEFICIENCIA_MENTAL", "IN_DEFICIT_ATENCAO", "IN_DISLEXIA", "IN_DISCALCULIA", "IN_AUTISMO", "IN_VISAO_MONOCULAR", "IN_OUTRA_DEF", "IN_GESTANTE", "IN_LACTANTE", "IN_IDOSO", "IN_ESTUDA_CLASSE_HOSPITALAR", "IN_SEM_RECURSO", "IN_BRAILLE", "IN_AMPLIADA_24", "IN_AMPLIADA_18", "IN_LEDOR", "IN_ACESSO", "IN_TRANSCRICAO", "IN_LIBRAS", "IN_TEMPO_ADICIONAL", "IN_LEITURA_LABIAL", "IN_MESA_CADEIRA_RODAS", "IN_MESA_CADEIRA_SEPARADA", "IN_APOIO_PERNA", "IN_GUIA_INTERPRETE", "IN_COMPUTADOR", "IN_CADEIRA_ESPECIAL", "IN_CADEIRA_CANHOTO", "IN_CADEIRA_ACOLCHOADA", "IN_PROVA_DEITADO", "IN_MOBILIARIO_OBESO", "IN_LAMINA_OVERLAY", "IN_PROTETOR_AURICULAR", "IN_MEDIDOR_GLICOSE", "IN_MAQUINA_BRAILE", "IN_SOROBAN", "IN_MARCA_PASSO", "IN_SONDA", "IN_MEDICAMENTOS", "IN_SALA_INDIVIDUAL", "IN_SALA_ESPECIAL", "IN_SALA_ACOMPANHANTE", "IN_MOBILIARIO_ESPECIFICO", "IN_MATERIAL_ESPECIFICO", "IN_NOME_SOCIAL", "CO_MUNICIPIO_PROVA", "NO_MUNICIPIO_PROVA", "CO_UF_PROVA", "SG_UF_PROVA", "TP_PRESENCA_CN", "TP_PRESENCA_CH", "TP_PRESENCA_LC", "TP_PRESENCA_MT", "CO_PROVA_CN", "CO_PROVA_CH", "CO_PROVA_LC", "CO_PROVA_MT", "NU_NOTA_CN", "NU_NOTA_CH", "NU_NOTA_LC", "NU_NOTA_MT", "TX_RESPOSTAS_CN", "TX_RESPOSTAS_CH", "TX_RESPOSTAS_LC", "TX_RESPOSTAS_MT", "TP_LINGUA", "TX_GABARITO_CN", "TX_GABARITO_CH", "TX_GABARITO_LC", "TX_GABARITO_MT", "TP_STATUS_REDACAO", "NU_NOTA_COMP1", "NU_NOTA_COMP2", "NU_NOTA_COMP3", "NU_NOTA_COMP4", "NU_NOTA_COMP5", "NU_NOTA_REDACAO", "Q001", "Q002", "Q003", "Q004", "Q005", "Q006", "Q007", "Q008", "Q009", "Q010", "Q011", "Q012", "Q013", "Q014", "Q015", "Q016", "Q017", "Q018", "Q019", "Q020", "Q021", "Q022", "Q023", "Q024", "Q025", "TP_SEXO_NOVO", "TP_ESTADO_CIVIL_NOVO", "TP_COR_RACA_NOVO", "TP_ANO_CONCLUIU_NOVO", "TP_ESCOLA_NOVO", "TP_ENSINO_NOVO") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2021-03-10 10:42:38,217 INFO sqlalchemy.engine.base.Engine ((190001005671, 2019, 3170206, 'Uberlândia', 31, 'MG', 21, 'M', 1, 1, 1, 3170206.0, 'Uberlândia', 31.0, 'MG', 1, 1, 1, None, 0, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1500800, 'Ananindeua', 15, 'PA', 1, 1, 1, 1, 504.0, 507.0, 511.0, 516.0, '512.6', '564.6', '533.4', '626.4', 'DAEAAEBEEDEADDBCCBCBDECDDEADBEBBDCDCABBEDDCCE', 'ECBCDBCBCBDCDBCEEECACABBEEBCBABCBEDEACBBAAECB', 'BDABC99999BEAAAEDDDEEACEACBCCCECCCCBCDACADAEBCEDCA', 'DADDCEEADBECABCDCDBCCDAEDACDDBBBAABDBEADDEEAB', 0, 'BEEAAEBEEBADEADDADAEABCEDDDBCBCBCCACBCDADCCEB', 'BACCCBABBADCBCEEEBCACACEEDBCCADBEADBADBBBACDB', 'BDABEABCADBCBAADDBECDAAECDAECBECBCCDEEAAADDBBCDCEB', 'BEDEEEAADBEBACABCDBABECECACADCBDCCEDCDABECDDD', 1.0, 180.0, 180.0, 160.0, 180.0, 160.0, 860.0, 'E', 'F', 'B', 'D', 3, 'I', 'A', 'C', 'D', 'B', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A', 'D', 'A', 'A', 'D', 'B', 'B', 'B', 'Masculino', 'Solteiro(a)', 'Branca', '2018', 'Não Respondeu', None), (190001009861, 2019, 3111705, 'Canaã', 31, 'MG', 20, 'M', 1, 1, 1, 1702109.0, 'Araguaína', 17.0, 'TO', 1, 2, 1, None, 0, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1502152, 'Canaã dos Carajás', 15, 'PA', 0, 0, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, 1, None, None, None, None, None, None, None, None, None, None, None, 'B', 'B', 'A', 'A', 5, 'D', 'A', 'B', 'C', 'A', 'B', 'B', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'A', 'A', 'C', 'A', 'A', 'A', 'Masculino', 'Solteiro(a)', 'Branca', '2017', 'Não Respondeu', None), (190001021622, 2019, 3104007, 'Araxá', 31, 'MG', 24, 'M', 1, 2, 1, 3104007.0, 'Araxá', 31.0, 'MG', 1, 5, 1, 1.0, 0, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1507904, 'Soure', 15, 'PA', 0, 0, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, 1, None, None, None, None, None, None, None, None, None, None, None, 'C', 'C', 'B', 'B', 3, 'F', 'A', 'B', 'D', 'A', 'A', 'B', 'A', 'B', 'B', 'A', 'A', 'A', 'C', 'B', 'A', 'C', 'A', 'A', 'B', 'Masculino', 'Solteiro(a)', 'Preta', '2014', 'Não Respondeu', 'Ensino Regular'), (190001026636, 2019, 3106200, 'Belo Horizonte', 31, 'MG', 33, 'M', 1, 1, 1, 3118304.0, 'Conselheiro Lafaiete', 31.0, 'MG', 1, 13, 1, None, 0, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1100205, 'Porto Velho', 11, 'RO', 0, 0, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, 1, None, None, None, None, None, None, None, None, None, None, None, 'G', 'D', 'D', 'D', 3, 'P', 'B', 'D', 'D', 'C', 'A', 'B', 'B', 'B', 'A', 'B', 'A', 'B', 'B', 'A', 'A', 'D', 'A', 'D', 'B', 'Masculino', 'Solteiro(a)', 'Branca', 'Antes de 2007', 'Não Respondeu', None), (190001026742, 2019, 3162401, 'São João da Ponte', 31, 'MG', 23, 'M', 1, 3, 1, 3162401.0, 'São João da Ponte', 31.0, 'MG', 1, 6, 1, 1.0, 0, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1100304, 'Vilhena', 11, 'RO', 1, 1, 1, 1, 504.0, 508.0, 512.0, 516.0, '621', '654.4', '595.8', '726.8', 'CBCABECBEBCDEDDCCECDDABCDDCBBBCCBCDCDCDADCCEC', 'CBCAADBECEEABCAAACBEEDBEDADBEACDBBCCBECADACAC', 'BBCEA99999CBDBAECEEACDDCDEDBBCCDECDAADDBECBECAAECD', 'BCAECECADCABCEABCCCCAECCCCBACCBAECEDCBACCCBDC', 0, 'BEEAAEBEEBADEADDADAEABCEDDDBCBCBCCACBCDADCCEB', 'CBABADBBCEEEBCBADCBEEDBBEADBBACDBBACCCCADACAC', 'BBEDABDACACBABAECBBCCADCEBDBBCDDEEAAADDBECDECAAECD', 'BEDEEEAADBEBACABCDBABECECACADCBDCCEDCDABECDDD', 1.0, 160.0, 200.0, 140.0, 160.0, 140.0, 800.0, 'B', 'D', 'B', 'B', 3, 'D', 'A', 'B', 'D', 'B', 'B', 'B', 'A', 'A', 'A', 'A', 'A', 'A', 'B', 'B', 'A', 'C', 'A', 'B', 'A', 'Masculino', 'Solteiro(a)', 'Parda', '2013', 'Não Respondeu', 'Ensino Regular'), (190001046046, 2019, 3124302, 'Espinosa', 31, 'MG', 22, 'M', 1, 3, 1, 3124302.0, 'Espinosa', 31.0, 'MG', 1, 5, 1, 1.0, 0, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1501402, 'Belém', 15, 'PA', 0, 0, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, 1, None, None, None, None, None, None, None, None, None, None, None, 'C', 'G', 'C', 'D', 5, 'I', 'A', 'D', 'D', 'B', 'B', 'B', 'B', 'B', 'A', 'B', 'A', 'A', 'C', 'B', 'A', 'E', 'A', 'B', 'B', 'Masculino', 'Solteiro(a)', 'Parda', '2014', 'Não Respondeu', 'Ensino Regular'), (190001046473, 2019, 3169307, 'Três Corações', 31, 'MG', 19, 'F', 1, 3, 1, 3169307.0, 'Três Corações', 31.0, 'MG', 1, 1, 1, 1.0, 0, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3169307, 'Três Corações', 31, 'MG', 1, 1, 1, 1, 506.0, 508.0, 512.0, 517.0, '469.8', '575.4', '525.8', '412.3', 'BEDBDAAEEAECAAEBEACCBDBDEEABCEDBAEACBCEBDDEAB', 'ABABADADCEAADDABDCADEDBBEEDCEAEEBEEECECAEDCAB', 'DBDED99999EBDBAEEECECEBBEECCDCAAEBDAADBDEEBCCAAACD', 'CBACBBECBBAAEBCEACCCAAEBDDABCDBCCDAABBEBAEEDB', 0, 'DEADBAAAEBEECEBCBCBCBDADAEABCEDDDDADCBEECACBC', 'CBABADBBCEEEBCBADCBEEDBBEADBBACDBBACCCCADACAC', 'BBEDABDACACBABAECBBCCADCEBDBBCDDEEAAADDBECDECAAECD', 'AADDDBEEEBEDDBEBACABCDBABECECACAECDCBDCCEDCDA', 1.0, 120.0, 140.0, 120.0, 120.0, 100.0, 600.0, 'E', 'E', 'C', 'B', 3, 'C', 'A', 'B', 'C', 'B', 'A', 'B', 'B', 'B', 'A', 'B', 'A', 'A', 'B', 'B', 'B', 'E', 'A', 'B', 'B', 'Feminino', 'Solteiro(a)', 'Parda', '2018', 'Não Respondeu', 'Ensino Regular'), (190001053082, 2019, 3106705, 'Betim', 31, 'MG', 20, 'M', 1, 3, 1, 1507607.0, 'São Miguel do Guamá', 15.0, 'PA', 1, 3, 1, 1.0, 0, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1502301, 'Capitão Poço', 15, 'PA', 1, 1, 1, 1, 506.0, 508.0, 512.0, 517.0, '353', '507.3', '536.2', '610.6', 'AECBADCCAADEAEBCADDBCBBECAEDBAEBAEDECCBACBDAB', 'AACBBDBDCAEEBCAABDEDCBABBEABBAEDEBECAEBCADBAD', '99999AAACAABABAEAEBCDBCBBBDCCDEAEBADBDEAECCDBADECB', 'AADABCECEAADDCBBABCC.DDCBBEABDACDEDBBBEADACBB', 1, 'DEADBAAAEBEECEBCBCBCBDADAEABCEDDDDADCBEECACBC', 'CBABADBBCEEEBCBADCBEEDBBEADBBACDBBACCCCADACAC', 'BBEDABDACACBABAECBBCCADCEBDBBCDDEEAAADDBECDECAAECD', 'AADDDBEEEBEDDBEBACABCDBABECECACAECDCBDCCEDCDA', 1.0, 120.0, 180.0, 180.0, 140.0, 120.0, 740.0, 'H', 'D', 'C', 'F', 3, 'F', 'A', 'B', 'B', 'A', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A', 'B', 'A', 'A', 'D', 'A', 'B', 'B', 'Masculino', 'Solteiro(a)', 'Parda', '2016', 'Não Respondeu', 'Ensino Regular')  ... displaying 10 of 538896 total bound parameter sets ...  (190006120185, 2019, 3154606, 'Ribeirão das Neves', 31, 'MG', 22, 'F', 2, 3, 1, 3122454.0, 'Divisópolis', 31.0, 'MG', 1, 5, 1, 1.0, 0, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3154606, 'Ribeirão das Neves', 31, 'MG', 1, 1, 1, 1, 503.0, 510.0, 513.0, 515.0, '464.4', '415.8', '510.5', '473', 'CCEDECDDDBAEADABDCBABABAAAEECBDEBAEADACDADABC', 'CBCCACDDCBAEEAACAECEAAEAADBDEAEAEEBCCEEDDEEAD', '99999DCBBDDBBCBBCEEECDCEDDCAECBDDBADEEBEDBBEDDADBC', 'DCADBECCBCBEDDBAADBCDEEDBACEABBCDABECBAABADED', 1, 'AAECACDEADCBCDDDBCBDADAEABCEBABEEBCBEECEBDADC', 'EEBCEEDBADBBCBABCCADCEBACDBBACCACACBEADBBADCB', 'ADBBEDCABAABBCBCDAAECDDDBAAAECADECDCEBDEEAECBDBBCC', 'EEEADBEBACABCDBABECECACDCBDCCEDCDABEDECDDDBAA', 1.0, 120.0, 100.0, 80.0, 120.0, 60.0, 480.0, 'B', 'E', 'A', 'B', 2, 'E', 'A', 'B', 'B', 'A', 'A', 'B', 'A', 'B', 'A', 'B', 'A', 'A', 'B', 'A', 'A', 'C', 'A', 'A', 'B', 'Feminino', 'Casado(a)/Mora com companheiro(a)', 'Parda', '2014', 'Não Respondeu', 'Ensino Regular'), (190006120186, 2019, 3106705, 'Betim', 31, 'MG', 37, 'F', 1, 3, 1, 3106705.0, 'Betim', 31.0, 'MG', 1, 13, 1, 1.0, 0, None, None, None, None, None, None, None, None, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 3106705, 'Betim', 31, 'MG', 0, 0, 0, 0, None, None, None, None, None, None, None, None, None, None, None, None, 1, None, None, None, None, None, None, None, None, None, None, None, 'B', 'A', 'A', 'B', 3, 'C', 'A', 'B', 'D', 'A', 'A', 'B', 'A', 'B', 'A', 'A', 'A', 'A', 'C', 'B', 'A', 'D', 'A', 'B', 'B', 'Feminino', 'Solteiro(a)', 'Parda', 'Antes de 2007', 'Não Respondeu', 'Ensino Regular'))
2021-03-10 10:42:46,690 INFO sqlalchemy.engine.base.Engine COMMIT

In [4]:
#media da nota de matematica
# NU_NOTA_MT
dados

NameError: name 'dados' is not defined

In [12]:
# enem.loc[
#     (enem.SG_UF_RESIDENCIA == 'MG') &
#     (enem.NO_MUNICIPIO_RESIDENCIA == 'Conselheiro Lafaiete'),
#     "NU_NOTA_MT"
# ].describe()

,NU_INSCRICAO,NU_ANO,CO_MUNICIPIO_RESIDENCIA,NO_MUNICIPIO_RESIDENCIA,CO_UF_RESIDENCIA,SG_UF_RESIDENCIA,NU_IDADE,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001004627,2019,1506807,Santarém,15,PA,21,M,1,3,...,A,A,A,C,B,A,D,A,B,A
1,190001004628,2019,1504059,Mãe do Rio,15,PA,16,F,1,3,...,A,A,A,B,B,A,B,A,A,A
2,190001004629,2019,1505502,Paragominas,15,PA,18,F,1,1,...,B,A,A,D,B,B,D,A,C,B
3,190001004630,2019,1507706,São Sebastião da Boa Vista,15,PA,23,M,0,3,...,A,A,A,C,A,A,D,A,A,A
4,190001004631,2019,1503903,Juruti,15,PA,23,M,1,3,...,A,A,A,B,A,A,D,A,A,A

In [30]:
# enade.loc[
#     enade.CO_REGIAO_CURSO_NOVO == "NORDESTE",
#     "NT_GER"
# ].mean()

enem.loc[
    (enem.SG_UF_RESIDENCIA == 'MG') &
    (enem.IN_SURDO_CEGUEIRA == 1),
    "NU_NOTA_MT"
]

317891     571.9
1399379      NaN
1594650      NaN
1594730      NaN
2495216    480.5
2551907      NaN
3024767      NaN
3620965    428.8
3960598    505.8
4720804    409.5
4749777    446.6
Name: NU_NOTA_MT, dtype: object

In [29]:
int(x).mean()

TypeError: cannot convert the series to <class 'int'>